.body {
  display: flex;
  flex-direction: column;
}
.headerDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;
  background-color: #fafbfc;
}
.titleDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 5px 0;
}
.title {
  font-size: 35px;
  padding: 10px 5px;
  margin: 2px;
  font-weight: bold;
}
.lineDiv {
  display: flex;
  flex-direction: column;
}
.lineDiv > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lineBtn {
  font-size: 25px;
  border-bottom: 1px solid #333333;
  padding: 10px 5px;
  margin: 2px;
  width: -webkit-fill-available;
}
.lineBtn.clicked {
  border-bottom: 1px solid red;
}
.mainDiv {
  overflow: auto;
  height: 100vh;
  padding-top: 200px;
}
.numberDiv {
  background-image: url("https://ssl.pstatic.net/sstatic/keypage/outside/subway/img/220718/smap_sg_all.png");
  background-size: 3500px auto;
  width: 3500px;
  height: 2782px;
}
.numberLine {
  background-color: #fafbfc;
  opacity: 0.9;
  background-size: 3500px auto;
  width: 3500px;
  height: 2782px;
}
